@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-color1: #e8e0d9;
  --gradient-color2: #e7cdd3;
  --gradient-color3: #cdd5df;
  --colorF: #EDE4C8;
  --colorG: #dbb42c;
  --colorH: #c9a227;
  --colorI: #b69121;
  --harvest-gold:#e8ae00;
  --amber:  #ffbf00;
  --mikado-yellow: #ffc720;
  --sunglow: #ffcf40;
  --mustard: #ffd760;
}

.border-custom {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #202020;
  border-bottom-style: solid;
}
.bg-gradient {
  background: linear-gradient(130deg, #ff00b7 0%, #1e00ff 100%);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Regular Supreme */
@font-face {
  font-family: 'Supreme';
  src: url('/fonts/Supreme/Supreme.ttf') format('truetype');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

/* Italic Supreme*/
@font-face {
  font-family: 'Supreme';
  src: url('/fonts/Supreme/SupremeItalic.ttf') format('truetype');
  font-weight: 400 800;
  font-style: italic;
}

/* Regular Satochi */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi/Satoshi.ttf') format('truetype');
  font-weight: 400 800;
  font-style: normal;
}

/* Italic Satochi */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satochi/SatoshiItalic.ttf') format('truetype');
  font-weight: 400 800;
  font-style: italic;
}



