@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-color1: #e8e0d9;
  --gradient-color2: #e7cdd3;
  --gradient-color3: #cdd5df;
  --colorF: #EDE4C8;
  --colorG: #dbb42c;
  --colorH: #c9a227;
  --colorI: #b69121;
  --harvest-gold:#e8ae00;
  --amber:  #ffbf00;
  --mikado-yellow: #ffc720;
  --sunglow: #ffcf40;
  --mustard: #ffd760;
}

/* .bg-gradient {
  animation-name: gradient-fade;
  animation: gradient-fade 40s linear infinite alternate;
  background-position: 0 0;
  background-size: 100% 300%;
  background-image: radial-gradient(circle,var(--gradient-color3),var(--gradient-color2),var(--gradient-color1));
} */

.bg-gradient {
  animation-name: gradient-fade;
  animation: gradient-fade 20s linear infinite alternate;
  background-position: 0 0;
  background-size: 100% 300%;
  background-image: linear-gradient(
    var(--harvest-gold),
    var(--amber),
    var(--mikado-yellow),
    var(--sunglow),
    var(--mustard),
    var(--amber)
  );
}

@keyframes gradient-fade {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.elemento {
  background-color: #0F1020; /* elige el color que quieras */
  background-image: url('../public/Bg.svg'); /* elige la imagen SVG que quieras */
}
.elemento2 {
background: rgba(243, 244, 250, 0.35);
box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
}